<div class="container">
  <div fxLayout="column" fxLayoutGap="10px">
    <h3>Keys:</h3>
    <div>
      <button mat-raised-button (click)="askKeyName()"> Generate </button>
    </div>
    <mat-list fxFlex>
      <mat-list-item *ngFor="let emitent of emitents">
        <div mat-line *ngIf="emitent.city">
          <h2>{{emitent.title}}</h2>
        </div>
      </mat-list-item>
      <mat-list-item *ngFor="let emitent of emitents">
        <div mat-line *ngIf="!emitent.city">
          <h2>{{emitent.title}}</h2>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>