.emitent-form > * {
  width: 100%;
}

.make-emitent > mat-form-field {
	width: 300px;
}

mat-card-title > h3 {
	display: inline-block;
	padding-right: 350px;
}

mat-card-title > div {
	display: inline-block;
	color: gray;
}